{
  "openapi": "3.1.1",
  "info": {
    "title": "Relay API",
    "version": "0.1.0",
    "summary": "Staff and public published-content API for the Relay podcast network platform.",
    "description": "OpenAPI v0 covers the **Phase 1** surface (P0-04): catalog CRUD, resumable uploads, processing\nstatus, transcripts, notes and chapters, approvals and rights, scheduling and publishing, feed\npreview, jobs, the audit-events read API, full export, and the public published-content API.\nPhase 2–3 entities are modelled in `model/erd.md` but have no endpoints yet.\n\n## Conventions\n\n- **Errors** are `application/problem+json` (RFC 9457). `type` is a URI under\n  `https://relay.dev/problems/`, and `code` is a stable machine-readable string.\n  Disallowed state transitions return `409` with type `…/problems/invalid-transition`\n  (`model/state-machines.md`).\n- **Pagination** is cursor-based. List operations take `cursor` and `limit`, and return\n  `{items, nextCursor}`. `nextCursor` is `null` on the last page. Cursors are opaque.\n- **Idempotency.** Every mutating operation (`POST`, `PUT`, `PATCH`, `DELETE`) requires an\n  `Idempotency-Key` header. A replay with the same key and body returns the original response.\n  The same key with a different body returns `409` with type\n  `…/problems/idempotency-key-reused`. Keys are kept for 24 hours.\n- **Optimistic concurrency.** Mutable resources return an `ETag`. `PATCH`, `PUT`, and `DELETE` on\n  them require `If-Match` (`428` if missing, `412` if stale).\n- **Partial updates** use JSON Merge Patch (RFC 7396): an absent field is unchanged, and `null`\n  clears a nullable field.\n- **Identifiers** are lowercase UUIDs, except the episode `guid`, which is an opaque string\n  (ADR 0006). Timestamps are RFC 3339 UTC with `Z`. Durations are integer milliseconds and sizes\n  are integer bytes.\n- **Authorization.** Staff operations use OIDC bearer tokens from the `relay-staff` realm.\n  Authorization lives in the API (decision A9). Each operation declares the minimum actor in\n  `x-relay-authz` (`model/state-machines.md`, \"Actors\"): `staff` (any signed-in staff user),\n  `viewer+`, `producer+`, `editor+` (grants on the operation's show), or `admin`\n  (`networkAdmin`). Operations under `/public` are anonymous and never vary by credentials.\n- **Caching.** Public responses are cacheable and carry no personal data. Staff responses are\n  `Cache-Control: private, no-store`. The two never share cache entries.\n",
    "contact": {
      "name": "Relay maintainers",
      "url": "https://github.com/gracefulinfra/relay-contracts"
    },
    "license": {
      "name": "Apache-2.0",
      "identifier": "Apache-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.relay.localtest.me/v0",
      "description": "Local k3d environment (relay-infra `make up`)"
    },
    {
      "url": "http://localhost:8080/v0",
      "description": "relay-api running outside the cluster"
    }
  ],
  "security": [
    {
      "staffOidc": []
    }
  ],
  "tags": [
    {
      "name": "me",
      "description": "The signed-in staff user."
    },
    {
      "name": "network",
      "description": "The single network (tenant) and its defaults."
    },
    {
      "name": "access",
      "description": "Staff users and show-scoped role grants (P1-02)."
    },
    {
      "name": "shows"
    },
    {
      "name": "seasons",
      "description": "Optional grouping of episodes inside a show."
    },
    {
      "name": "episodes",
      "description": "Episode identity, publication status, readiness, scheduling, and publishing. The four state dimensions are described in `model/state-machines.md`."
    },
    {
      "name": "revisions",
      "description": "Editable episode content and its review workflow (state machine §2)."
    },
    {
      "name": "notes",
      "description": "Show-notes rendering (TipTap JSON to sanitized HTML and Markdown, decision A15)."
    },
    {
      "name": "people"
    },
    {
      "name": "topics"
    },
    {
      "name": "rights",
      "description": "Rights and licence clearance that gates readiness."
    },
    {
      "name": "approvals",
      "description": "The immutable record of editorial decisions."
    },
    {
      "name": "media",
      "description": "Media asset versions and their processing state (state machine §3). Uploads use the [tus 1.0 protocol](https://tus.io/protocols/resumable-upload). This API creates an upload session and returns its tus URL. The tus requests themselves (`HEAD`, `PATCH`, `DELETE` on the upload URL) are served by `tusd` inside relay-api, and are not part of this document."
    },
    {
      "name": "transcripts",
      "description": "Transcript revisions (state machine §4). Machine output is always a draft."
    },
    {
      "name": "chapters"
    },
    {
      "name": "jobs",
      "description": "Durable background work (River dispatch, Argo execution)."
    },
    {
      "name": "publishing",
      "description": "Release manifests, delivery receipts, and per-output delivery state."
    },
    {
      "name": "distribution",
      "description": "Destinations and publication targets (state machine §5)."
    },
    {
      "name": "feeds"
    },
    {
      "name": "audit"
    },
    {
      "name": "exports",
      "description": "Full, versioned export (`schemas/export-index.schema.json` and `schemas/export-record.schema.json`). Secrets are never exported."
    },
    {
      "name": "public",
      "description": "Anonymous published-content API for relay-site. Everything is built from release manifests, so it never shows unreleased content."
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getMe",
        "tags": [
          "me"
        ],
        "summary": "The signed-in staff user and their grants",
        "x-relay-authz": "staff",
        "responses": {
          "200": {
            "description": "The staff user, created on first sign-in from the OIDC subject.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/network": {
      "get": {
        "operationId": "getNetwork",
        "tags": [
          "network"
        ],
        "summary": "Get the network",
        "x-relay-authz": "staff",
        "responses": {
          "200": {
            "description": "The network.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Network"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateNetwork",
        "tags": [
          "network"
        ],
        "summary": "Update network defaults",
        "x-relay-authz": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/NetworkUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated network.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Network"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/staff-users": {
      "get": {
        "operationId": "listStaffUsers",
        "tags": [
          "access"
        ],
        "summary": "List staff users",
        "x-relay-authz": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of staff users.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffUserPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/shows/{showId}/grants": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ShowId"
        }
      ],
      "get": {
        "operationId": "listShowGrants",
        "tags": [
          "access"
        ],
        "summary": "List role grants on a show",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of grants.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowRoleGrantPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/shows/{showId}/grants/{staffUserId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ShowId"
        },
        {
          "$ref": "#/components/parameters/StaffUserId"
        }
      ],
      "put": {
        "operationId": "putShowGrant",
        "tags": [
          "access"
        ],
        "summary": "Grant or change a staff user's role on a show",
        "x-relay-authz": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowRoleGrantPut"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The grant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowRoleGrant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteShowGrant",
        "tags": [
          "access"
        ],
        "summary": "Revoke a staff user's role on a show",
        "x-relay-authz": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/shows": {
      "get": {
        "operationId": "listShows",
        "tags": [
          "shows"
        ],
        "summary": "List shows the caller can see",
        "description": "Admins see every show. Other staff see the shows they hold a grant on.",
        "x-relay-authz": "staff",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ShowStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of shows.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createShow",
        "tags": [
          "shows"
        ],
        "summary": "Create a show",
        "description": "Computes the show's `podcastGuid` once, from its first canonical feed URL (ADR 0006 G8), or keeps the given one for an imported show.",
        "x-relay-authz": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created show.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Show"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/shows/{showId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ShowId"
        }
      ],
      "get": {
        "operationId": "getShow",
        "tags": [
          "shows"
        ],
        "summary": "Get a show",
        "x-relay-authz": "viewer+",
        "responses": {
          "200": {
            "description": "The show.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Show"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateShow",
        "tags": [
          "shows"
        ],
        "summary": "Update a show",
        "description": "`podcastGuid` is read-only. Changing `requireSeparateApprover` needs `admin` and is audited.",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ShowUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated show.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Show"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/shows/{showId}/seasons": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ShowId"
        }
      ],
      "get": {
        "operationId": "listSeasons",
        "tags": [
          "seasons"
        ],
        "summary": "List a show's seasons",
        "x-relay-authz": "viewer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of seasons, ordered by number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createSeason",
        "tags": [
          "seasons"
        ],
        "summary": "Create a season",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeasonCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created season.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Season"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/seasons/{seasonId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SeasonId"
        }
      ],
      "get": {
        "operationId": "getSeason",
        "tags": [
          "seasons"
        ],
        "summary": "Get a season",
        "x-relay-authz": "viewer+",
        "responses": {
          "200": {
            "description": "The season.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Season"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateSeason",
        "tags": [
          "seasons"
        ],
        "summary": "Update a season",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SeasonUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated season.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Season"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteSeason",
        "tags": [
          "seasons"
        ],
        "summary": "Delete an empty season",
        "description": "Only a season with no episodes can be deleted (`409` otherwise).",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/shows/{showId}/episodes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ShowId"
        }
      ],
      "get": {
        "operationId": "listEpisodes",
        "tags": [
          "episodes"
        ],
        "summary": "List a show's episodes",
        "x-relay-authz": "viewer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "publicationStatus",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/PublicationStatus"
            }
          },
          {
            "name": "readiness",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ReadinessState"
            }
          },
          {
            "name": "seasonId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of episodes, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodePage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createEpisode",
        "tags": [
          "episodes"
        ],
        "summary": "Create an episode and its first draft revision",
        "description": "Generates the permanent GUID (a UUIDv4, ADR 0006 G1) and the first revision in `draft` (R1). The GUID is read-only from then on. Imported GUIDs arrive through catalog import (P1-16), not this operation.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EpisodeCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created episode.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "get": {
        "operationId": "getEpisode",
        "tags": [
          "episodes"
        ],
        "summary": "Get an episode with every state dimension",
        "x-relay-authz": "viewer+",
        "responses": {
          "200": {
            "description": "The episode.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteEpisode",
        "tags": [
          "episodes"
        ],
        "summary": "Delete an episode that was never released",
        "description": "Allowed only while the episode has no release manifest. A tombstone keeps the GUID so it is never reused (ADR 0006 G3). Released episodes are unpublished instead.",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted, and the GUID is tombstoned."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/readiness": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "get": {
        "operationId": "getEpisodeReadiness",
        "tags": [
          "episodes"
        ],
        "summary": "Compute readiness for the candidate revision",
        "description": "Returns every blocking reason, not only the first. Without `revisionId`, the candidate is the episode's open revision.",
        "x-relay-authz": "viewer+",
        "parameters": [
          {
            "name": "revisionId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The readiness result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Readiness"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/topics": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "put": {
        "operationId": "putEpisodeTopics",
        "tags": [
          "episodes",
          "topics"
        ],
        "summary": "Replace the episode's topics",
        "description": "Topics take effect in the next release manifest.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EpisodeTopics"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The episode's topics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeTopics"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/schedule": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "put": {
        "operationId": "scheduleEpisode",
        "tags": [
          "episodes"
        ],
        "summary": "Schedule or reschedule a release (P1, P2, P10)",
        "description": "Increments `scheduleGeneration`, so any older scheduled job becomes a no-op. The revision must be `approved` and readiness `ready` now. Readiness is checked again when the schedule fires (P5).",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The episode, with its pending schedule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "cancelEpisodeSchedule",
        "tags": [
          "episodes"
        ],
        "summary": "Cancel the pending schedule (P3, P10)",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "The episode, with no pending schedule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/publish": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "post": {
        "operationId": "publishEpisode",
        "tags": [
          "episodes",
          "publishing"
        ],
        "summary": "Publish now (P4), publish a correction (P9), or republish (P12)",
        "description": "Creates the immutable release manifest and enqueues the output jobs in one transaction. The episode moves to `publishing`, and to `published` once the owned outputs are verified (P6). Republishing an `unpublished` episode needs `admin`.",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The manifest was created and delivery has started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/unpublish": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "post": {
        "operationId": "unpublishEpisode",
        "tags": [
          "episodes",
          "publishing"
        ],
        "summary": "Unpublish a released episode (P11)",
        "description": "Removes the item from the feed and site. For `rights` and `legal` reasons the media URLs return `410` at once (ADR 0006 V9). The GUID is kept and never reused.",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpublishRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Unpublishing has started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/abandon-release": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "post": {
        "operationId": "abandonFirstRelease",
        "tags": [
          "episodes",
          "publishing"
        ],
        "summary": "Abandon a first release that delivered nothing (P8)",
        "x-relay-authz": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Note"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The episode, back in `unreleased`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/revisions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "get": {
        "operationId": "listRevisions",
        "tags": [
          "revisions"
        ],
        "summary": "List an episode's revisions",
        "x-relay-authz": "viewer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of revisions, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeRevisionPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createRevision",
        "tags": [
          "revisions"
        ],
        "summary": "Start a new draft (R1) or correction draft (R2)",
        "description": "The server chooses the kind: `initial` for an unreleased episode, `correction` once a manifest exists. A correction copies the released revision. Fails with `409` if the episode already has an open revision.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevisionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new revision.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeRevision"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/revisions/{revisionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RevisionId"
        }
      ],
      "get": {
        "operationId": "getRevision",
        "tags": [
          "revisions"
        ],
        "summary": "Get a revision",
        "x-relay-authz": "viewer+",
        "responses": {
          "200": {
            "description": "The revision.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeRevision"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateRevision",
        "tags": [
          "revisions"
        ],
        "summary": "Edit a draft or correction draft",
        "description": "Allowed only in `draft` and `correction_draft`. A revision is frozen once submitted (R3), so edits after that return `409`.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RevisionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated revision.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeRevision"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/revisions/{revisionId}/submit": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RevisionId"
        }
      ],
      "post": {
        "operationId": "submitRevision",
        "tags": [
          "revisions"
        ],
        "summary": "Submit for review (R3)",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "The revision, now `in_review` and frozen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeRevision"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/revisions/{revisionId}/request-changes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RevisionId"
        }
      ],
      "post": {
        "operationId": "requestRevisionChanges",
        "tags": [
          "revisions"
        ],
        "summary": "Request changes (R4)",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Comment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The revision, now `changes_requested`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeRevision"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/revisions/{revisionId}/revise": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RevisionId"
        }
      ],
      "post": {
        "operationId": "reviseRevision",
        "tags": [
          "revisions"
        ],
        "summary": "Start a new draft from a revision with changes requested (R5)",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "description": "The new draft revision. The reviewed one stays as history.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeRevision"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/revisions/{revisionId}/approve": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RevisionId"
        }
      ],
      "post": {
        "operationId": "approveRevision",
        "tags": [
          "revisions",
          "approvals"
        ],
        "summary": "Approve (R6)",
        "description": "Requires the selected transcript revision and chapter set to be approved, and the separate approver rule to hold (`409` otherwise). Records an `Approval`.",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptionalComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The revision, now `approved`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeRevision"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/revisions/{revisionId}/withdraw-approval": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RevisionId"
        }
      ],
      "post": {
        "operationId": "withdrawRevisionApproval",
        "tags": [
          "revisions",
          "approvals"
        ],
        "summary": "Withdraw an approval before release (R11)",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reason"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The revision, back `in_review`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeRevision"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/revisions/{revisionId}/discard": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RevisionId"
        }
      ],
      "post": {
        "operationId": "discardRevision",
        "tags": [
          "revisions"
        ],
        "summary": "Discard a draft that was never released (R10)",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "The revision, now `discarded`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeRevision"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/notes/render": {
      "post": {
        "operationId": "renderNotes",
        "tags": [
          "notes"
        ],
        "summary": "Render show notes to sanitized HTML and Markdown",
        "description": "A pure function with no side effects, used for previews. Release uses the same renderer and pins the resulting HTML and its SHA-256 in the manifest.",
        "x-relay-authz": "staff",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotesRenderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The rendered notes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotesRenderResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/people": {
      "get": {
        "operationId": "listPeople",
        "tags": [
          "people"
        ],
        "summary": "List people",
        "x-relay-authz": "staff",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Case-insensitive prefix match on display name or slug.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of people.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createPerson",
        "tags": [
          "people"
        ],
        "summary": "Create a person",
        "description": "Any staff user with `producer` on at least one show may create people.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created person.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/people/{personId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PersonId"
        }
      ],
      "get": {
        "operationId": "getPerson",
        "tags": [
          "people"
        ],
        "summary": "Get a person",
        "x-relay-authz": "staff",
        "responses": {
          "200": {
            "description": "The person.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updatePerson",
        "tags": [
          "people"
        ],
        "summary": "Update a person",
        "description": "Changes appear in feeds only through the next release of each episode.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PersonUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated person.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/topics": {
      "get": {
        "operationId": "listTopics",
        "tags": [
          "topics"
        ],
        "summary": "List topics",
        "x-relay-authz": "staff",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of topics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createTopic",
        "tags": [
          "topics"
        ],
        "summary": "Create a topic",
        "x-relay-authz": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created topic.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Topic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/topics/{topicId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TopicId"
        }
      ],
      "patch": {
        "operationId": "updateTopic",
        "tags": [
          "topics"
        ],
        "summary": "Update a topic",
        "x-relay-authz": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TopicUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated topic.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Topic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/rights": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "get": {
        "operationId": "listRightsRecords",
        "tags": [
          "rights"
        ],
        "summary": "List an episode's rights records",
        "x-relay-authz": "viewer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of rights records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RightsRecordPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createRightsRecord",
        "tags": [
          "rights"
        ],
        "summary": "Add a rights record",
        "description": "New records start `pending` and block readiness until cleared.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RightsRecordCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created record.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RightsRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/rights/{rightsRecordId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RightsRecordId"
        }
      ],
      "get": {
        "operationId": "getRightsRecord",
        "tags": [
          "rights"
        ],
        "summary": "Get a rights record",
        "x-relay-authz": "viewer+",
        "responses": {
          "200": {
            "description": "The record.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RightsRecord"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateRightsRecord",
        "tags": [
          "rights"
        ],
        "summary": "Update a rights record",
        "description": "Any change to a `cleared` record returns it to `pending`.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RightsRecordUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated record.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RightsRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/rights/{rightsRecordId}/decision": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RightsRecordId"
        }
      ],
      "post": {
        "operationId": "decideRightsRecord",
        "tags": [
          "rights",
          "approvals"
        ],
        "summary": "Clear or restrict a rights record",
        "description": "Records an `Approval` with subject type `rights_record`.",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RightsDecision"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The record, now `cleared` or `restricted`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RightsRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/rights/{rightsRecordId}/document": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RightsRecordId"
        }
      ],
      "post": {
        "operationId": "createRightsDocumentUpload",
        "tags": [
          "rights",
          "media"
        ],
        "summary": "Start a tus upload of the rights document",
        "description": "The document is stored in a private bucket and never published.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUploadCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The upload session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/approvals": {
      "get": {
        "operationId": "listApprovals",
        "tags": [
          "approvals"
        ],
        "summary": "List approvals for a subject",
        "x-relay-authz": "viewer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "subjectType",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ApprovalSubjectType"
            }
          },
          {
            "name": "subjectId",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of approvals, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/uploads": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "post": {
        "operationId": "createUpload",
        "tags": [
          "media"
        ],
        "summary": "Start a resumable (tus) upload of a new media version (M1)",
        "description": "Creates a `MediaAsset` in `uploading` and returns its tus upload URL. Pass `lineageId` to upload a replacement version of an existing asset. Replacement is always a new version, never an overwrite (ADR 0006 V1). When tus reports the upload complete, the server computes SHA-256 and enqueues the probe (M2, M5).",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The upload session.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/ContentTooLarge"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/assets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "get": {
        "operationId": "listEpisodeAssets",
        "tags": [
          "media"
        ],
        "summary": "List an episode's media asset versions and their processing state",
        "x-relay-authz": "viewer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AssetRole"
            }
          },
          {
            "name": "lineageId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "processingState",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ProcessingState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of asset versions, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaAssetPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/assets/{assetId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AssetId"
        }
      ],
      "get": {
        "operationId": "getAsset",
        "tags": [
          "media"
        ],
        "summary": "Get one media asset version",
        "x-relay-authz": "viewer+",
        "responses": {
          "200": {
            "description": "The asset version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaAsset"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/assets/{assetId}/retry": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AssetId"
        }
      ],
      "post": {
        "operationId": "retryAsset",
        "tags": [
          "media",
          "jobs"
        ],
        "summary": "Retry a failed derived asset (M11)",
        "description": "Reuses the same job ID, so output is never duplicated.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "The asset, back in `queued`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaAsset"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/assets/{assetId}/takedown": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AssetId"
        }
      ],
      "post": {
        "operationId": "takedownAsset",
        "tags": [
          "media"
        ],
        "summary": "Purge a version at once for rights or legal reasons (M14)",
        "description": "The edge returns `410 Gone` for the version's URL and caches are purged (ADR 0006 V9). The row, its SHA-256, and its size stay for export and audit.",
        "x-relay-authz": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TakedownRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The asset, now `purged`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaAsset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/transcripts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "get": {
        "operationId": "listTranscriptRevisions",
        "tags": [
          "transcripts"
        ],
        "summary": "List an episode's transcript revisions",
        "x-relay-authz": "viewer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TranscriptState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of transcript revisions, newest first. Segments are omitted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptRevisionPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "requestTranscription",
        "tags": [
          "transcripts"
        ],
        "summary": "Request machine transcription (T1)",
        "description": "Starts a `pending` revision for one exact source asset version, using the self-hosted or the hosted provider. The output is always a `draft`. Publishing never waits for it.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The pending revision.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptRevision"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/episodes/{episodeId}/transcripts/manual": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EpisodeId"
        }
      ],
      "post": {
        "operationId": "uploadManualTranscript",
        "tags": [
          "transcripts"
        ],
        "summary": "Upload a transcript file as a draft (T2)",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManualTranscript"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The draft revision, parsed into segments.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptRevisionDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/ContentTooLarge"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/transcripts/{transcriptRevisionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TranscriptRevisionId"
        }
      ],
      "get": {
        "operationId": "getTranscriptRevision",
        "tags": [
          "transcripts"
        ],
        "summary": "Get a transcript revision with its segments",
        "x-relay-authz": "viewer+",
        "responses": {
          "200": {
            "description": "The revision and its segments.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptRevisionDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateTranscriptRevision",
        "tags": [
          "transcripts"
        ],
        "summary": "Edit a draft transcript (T6)",
        "description": "Replaces the segments of a `draft`. Each save increments `draftVersion`. Returns `409` once the revision has left `draft`.",
        "x-relay-authz": "producer+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TranscriptUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated draft.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptRevisionDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/transcripts/{transcriptRevisionId}/approve": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TranscriptRevisionId"
        }
      ],
      "post": {
        "operationId": "approveTranscriptRevision",
        "tags": [
          "transcripts",
          "approvals"
        ],
        "summary": "Approve a reviewed transcript (T7)",
        "description": "Records an `Approval` and renders the transcript and caption files as new asset versions. A human must approve machine output before it can be released (architecture rule 6).",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptionalComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The revision, now `approved`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptRevision"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/transcripts/{transcriptRevisionId}/reject": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TranscriptRevisionId"
        }
      ],
      "post": {
        "operationId": "rejectTranscriptRevision",
        "tags": [
          "transcripts",
          "approvals"
        ],
        "summary": "Reject a draft transcript (T8)",
        "x-relay-authz": "editor+",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reason"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The revision, now `rejected`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptRevision"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/transcripts/{transcriptRevisionId}/retry": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TranscriptRevisionId"
        }
      ],
      "post": {
        "operationId": "retryTranscription",
        "tags": [
          "transcripts",
          "jobs"
        ],
        "summary": "Retry a failed machine transcription (T5)",
[...]
